<header th:fragment="admin-header">
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <!-- Main Dashboard -->
                <a href="/admin-landing" class="list-group-item list-group-item-action py-3 ripple">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main Dashboard</span>
                </a>

                <!-- Transactions -->
                <a href="/admin-txn" class="list-group-item list-group-item-action py-3 ripple">
                    <i class="fas fa-chart-line fa-fw me-3"></i><span>Transactions</span>
                </a>

                <!-- Flagged Transactions -->
                <a href="/admin-flagged-txn" class="list-group-item list-group-item-action py-3 ripple">
                    <i class="fas fa-users fa-fw me-3"></i><span>Flagged Transactions</span>
                </a>

                <!-- Users -->
                <a href="/users" class="list-group-item list-group-item-action py-3 ripple">
                    <i class="fas fa-users fa-fw me-3"></i><span>Users</span>
                </a>

                <!-- Sales -->
                <a href="/manage-admin" class="list-group-item list-group-item-action py-3 ripple">
                    <i class="fas fa-money-bill fa-fw me-3"></i><span>Admins</span>
                </a>

                <!-- Calendar -->
                <a href="/calendar" class="list-group-item list-group-item-action py-3 ripple">
                    <i class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span>
                </a>

                <!-- International -->
                <a href="/international" class="list-group-item list-group-item-action py-3 ripple">
                    <i class="fas fa-globe fa-fw me-3"></i><span>International</span>
                </a>
            </div>
        </div>
    </nav>
</header>
<!--Main Navigation-->
<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
<!--Main layout-->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Select all sidebar links
        const sidebarLinks = document.querySelectorAll("#sidebarMenu .list-group-item");

        // Add a click event listener to each link
        sidebarLinks.forEach(link => {
            link.addEventListener("click", function () {
                // Remove the "active" class from all links
                sidebarLinks.forEach(otherLink => {
                    otherLink.classList.remove("active");
                });

                // Add the "active" class to the clicked link
                this.classList.add("active");
            });
        });
    });
</script>